<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Rabbit.Hostname" value="localhost" />
    <add key="Rabbit.Port" value="5672" />
    <add key="Rabbit.VirtualHost" value="/" />
    <add key="Rabbit.UserName" value="guest" />
    <add key="Rabbit.Password" value="guest" />
    <add key="Rabbit.ExchangeName" value="amq.headers" />
    <add key="Rabbit.ServiceName" value="Rabbit.Common.AcceptanceTests" />
  </appSettings>
</configuration>